.friend-list-container {
  width: 100%;
  min-height: 70vh;
  max-height: 70vh;
  background-color: tan;
  display: flex;
  flex-direction: column;
}
.friends {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.friend {
  min-height: 60px;
  max-height: 60px;
}
