.login-page-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/colorful-tribal-ethnic-seamless-pattern-vector-10038553.jpg");
  background-size: contain;
}

.login-form-container {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 14px 38px rgba(0, 0, 0, 0.685), 0 10px 28px rgba(0, 0, 0, 0.603);
  h2 {
    font-family: "Comforter", cursive;
    color: #464952;
    margin-bottom: 50px;
    font-size: 46px;
  }
  h3 {
    font-size: 12px;
    padding: 10px;
    color: #4f545c;
  }
}

@media only screen and (max-width: 1000px) {
  .login-page-container {
    background-size: cover;
  }
  .login-form-container {
    width: 750px;
    height: 500px;
    h2 {
      margin-bottom: 35px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .login-form-container {
    width: 80vw;
    height: 500px;
    h2 {
      margin-bottom: 50px;
      font-size: 38px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .login-form-container {
    height: calc(0.8 * var(--app-height));
  }
}

.test {
  height: 100%;
  width: 100%;
  background-image: url("../assets/10076.png");
}

.overlay-container {
  width: 50%;
  height: 100%;
  background-color: #004b4b;
  position: absolute;
}

.overlay-right {
  left: 50%;
  border-radius: 0px 5px 5px 0px;
}

.overlay-left {
  left: 0%;
  border-radius: 5px 0px 0px 5px;
}

@media only screen and (max-width: 600px) {
  .overlay-container {
    display: none;
  }
  .login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    background-color: #ffffff;
  }
  .login-form-container {
    box-shadow: none;
  }
}

.form-input-field {
  background-color: #eef0f2;
  width: 60%;
  height: 30px;
  margin: auto;
  margin-top: 15px;
  padding: 5px 15px 5px 15px;
  border-radius: 2px;
  border-style: none;
  border-width: 1px;
  font-size: 14px;
  transition: 0.2s;
}

.form-input-field::placeholder {
  color: #707480;
  font-size: 12px;
}

@media only screen and (max-width: 800px) {
  .form-input-field {
    width: 80%;
    height: 25px;
    margin-top: 10px;
  }
}

.form-input-field:hover {
  background-color: #e7e7e7;
}

.form-input-field:focus {
  outline: none;
  background-color: #d1d1d1;
}

.submit-button {
  width: calc(60% + 30px);
  height: 40px;
  border-radius: 2px;
  border-style: none;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  background-color: #009b9b;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: 0.2s ease-in;
}

.submit-button:hover {
  background-color: #168661;
}

@media only screen and (max-width: 800px) {
  .submit-button {
    width: calc(80% + 30px);
    height: 35px;
  }
}

.submit-button:hover {
  cursor: pointer;
}
