.login-page-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/tile_background.png");
  background-size: cover;
  h1 {
    color: white;
    font-size: 120px;
    text-align: left;
    margin: auto;
    background: linear-gradient(
      150deg,
      #69168f,
      #dd07c0,
      #e94057,
      #f52626,
      #f59b26
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.login-form-container {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 14px 38px rgba(0, 0, 0, 0.356), 0 10px 28px rgba(0, 0, 0, 0.349);
  h2 {
    font-family: "Comforter", cursive;
    color: #f1f1f1;
    margin-bottom: 50px;
    font-size: 46px;
  }
  h3 {
    font-size: 12px;
    padding: 10px;
    color: #4f545c;
  }
}

@media only screen and (max-width: 1000px) {
  .login-page-container {
    background-size: cover;
  }
  .login-form-container {
    width: 750px;
    height: 500px;
    h2 {
      margin-bottom: 35px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .login-form-container {
    width: 80vw;
    height: 500px;
    h2 {
      margin-bottom: 50px;
      font-size: 38px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .login-form-container {
    height: calc(0.8 * var(--app-height));
  }
}

.overlay-container {
  width: 60%;
  height: 100%;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: rgb(54, 54, 54);
  border-radius: 0px;
  background-color: #000000;
  position: absolute;
  // display: flex;
  // flex-direction: column;

  // justify-content: center;
}

.overlay-right {
  left: 50%;
  border-radius: 0px 5px 5px 0px;
}

.overlay-left {
  left: 0%;
  border-radius: 5px 0px 0px 5px;
}

@media only screen and (max-width: 600px) {
  .overlay-container {
    display: none;
  }
  .login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    background-color: #ffffff;
  }
  .login-form-container {
    box-shadow: none;
  }
}

.form-input-field {
  background-color: #ffffff;
  width: 80%;
  height: 30px;
  margin: auto;
  margin-top: 25px;
  padding: 5px 15px 5px 15px;
  border-radius: 2px;
  border-style: none;
  border-width: 1px;
  font-size: 14px;
  transition: 0.2s;
}

.form-input-field::placeholder {
  color: #7c808b;
  font-size: 12px;
}

@media only screen and (max-width: 800px) {
  .form-input-field {
    width: 80%;
    height: 25px;
    margin-top: 10px;
  }
}

.form-input-field:hover {
  background-color: #ffffff;
}

.form-input-field:focus {
  outline: none;
  background-color: #d1d1d1;
}

.submit-button {
  width: calc(80% + 30px);
  height: 40px;
  border-radius: 2px;
  border-style: none;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 15px;

  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    60deg,
    #69168f,
    #dd07c0,
    #e94057,
    #f52626,
    #f59b26
  );
  background-size: 260px 280px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: 0.7s ease-in-out;
}

.submit-button:hover {
  background-position-y: -180px;
}

@media only screen and (max-width: 800px) {
  .submit-button {
    width: calc(80% + 30px);
    height: 35px;
  }
}

.submit-button:hover {
  cursor: pointer;
}
