.sign-in-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //background-color: rgb(243, 243, 243);
  padding: 0px 30px 0px 30px;
  width: 280px;
  height: 450px;
  position: absolute;
  left: 81%;
  top: 50%;
  transform: translate(-50%, -50%);
  //box-shadow: 0 14px 38px rgba(0, 0, 0, 0.26), 0 10px 28px rgba(0, 0, 0, 0.24);

  overflow: hidden;
  form {
    display: flex;
    flex-direction: column;
  }
  h2 {
    color: #fcfcfc;
    font-size: 32px;
  }
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    color: #838996;
  }
}

@media only screen and (max-width: 600px) {
  .sign-in-form-container {
    width: 100%;
    position: absolute;
    left: 0%;
    border-radius: 5px;
  }
}

.login-options-container {
  display: flex;
  flex-direction: row;
  width: 88%;
  justify-content: space-between;
  margin: auto;
  p {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #6e7480;
  }
  p:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
  .login-options-container {
    width: 84%;
  }
}

.social-sign-in-container {
  display: flex;
  flex-direction: row;
  width: calc(60% + 30px);
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.social-buttons {
  min-width: 75px;
  height: 35px;
  border-style: none;
  background-color: #fafaff;
  transition: 0.3s;
  border-radius: 3px;
}

.social-buttons:hover {
  transform: translate(0px, -2px);
}

.social-icon {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(230, 230, 230);
}

.social-buttons:hover {
  cursor: pointer;
}

.google {
  background-color: #db3c2d;
}

.facebook {
  background-color: #1877f2;
}

.apple {
  background-color: rgb(255, 255, 255);
}
