.chat-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.messages-container {
  height: auto;
  overflow: hidden;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow-y: scroll;
  margin: 0;
}
