:root {
  --app-height: 100vh;
}

.chat-panel-container {
  width: 100%;
  height: var(--app-height);
  /* max-height: 100vh;
  min-height: 100vh; */
  background-color: slategray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.messages-container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow-y: scroll;
  margin: 0;
}
