@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@500;600&family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500;800&display=swap");
.chat-list-container {
  width: 100%;
  height: 70vh;
  background-color: tan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-list {
  overflow-y: scroll;
}

.chat-nav-container {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #636363;
}

.chat-back-button {
  display: none;
}

@media only screen and (max-width: 800px) {
  .chat-back-button {
    display: inline-block;
  }
}

.chat-options-container {
  background-color: #3556e6;
  position: absolute;
  right: 0px;
  width: 400px;
  min-height: 100vh;
  max-height: 100vh;
}

@media only screen and (max-width: 1000px) {
  .chat-options-container {
    width: calc(100% - 300px);
  }
}

@media only screen and (max-width: 800px) {
  .chat-options-container {
    width: 100%;
  }
}

:root {
  --app-height: 100vh;
}

.chat-panel-container {
  width: 100%;
  height: var(--app-height);
  /* max-height: 100vh;
  min-height: 100vh; */
  background-color: slategray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.messages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 100%;
  overflow-y: scroll;
  margin: 0;
}

.friend-list-container {
  width: 100%;
  height: 70vh;
  background-color: tan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}

.friend {
  min-height: 60px;
  max-height: 60px;
}

.friend-request-list-container {
  width: 100%;
  height: 70vh;
  background-color: tan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.friend-request-list {
  overflow-y: scroll;
}

.friend-search-container {
  width: 100%;
  height: 70vh;
  background-color: tan;
}

.message-box-container {
  background-color: #636363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px;
}

.selected-files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.messenger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.side-panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  min-width: 350px;
  background-color: tan;
}

.side-panel-visible {
  visibility: visible;
}

@media only screen and (max-width: 1000px) {
  .side-panel-container {
    max-width: 300px;
    min-width: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .side-panel-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    max-width: 100vw;
  }
  .side-panel-hidden {
    visibility: hidden;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 30vh;
  background-color: teal;
}

@media only screen and (max-width: 800px) {
  .side-bar-container {
    overflow: hidden;
  }
}

.login-page-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/tile_background.png");
  background-size: cover;
}

.login-page-container h1 {
  color: white;
  font-size: 120px;
  text-align: left;
  margin: auto;
  background: linear-gradient(150deg, #69168f, #dd07c0, #e94057, #f52626, #f59b26);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 900px;
  height: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  -webkit-box-shadow: 0 14px 38px rgba(0, 0, 0, 0.356), 0 10px 28px rgba(0, 0, 0, 0.349);
          box-shadow: 0 14px 38px rgba(0, 0, 0, 0.356), 0 10px 28px rgba(0, 0, 0, 0.349);
}

.login-form-container h2 {
  font-family: "Comforter", cursive;
  color: #f1f1f1;
  margin-bottom: 50px;
  font-size: 46px;
}

.login-form-container h3 {
  font-size: 12px;
  padding: 10px;
  color: #4f545c;
}

@media only screen and (max-width: 1000px) {
  .login-page-container {
    background-size: cover;
  }
  .login-form-container {
    width: 750px;
    height: 500px;
  }
  .login-form-container h2 {
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .login-form-container {
    width: 80vw;
    height: 500px;
  }
  .login-form-container h2 {
    margin-bottom: 50px;
    font-size: 38px;
  }
}

@media only screen and (max-width: 600px) {
  .login-form-container {
    height: calc(0.8 * var(--app-height));
  }
}

.overlay-container {
  width: 60%;
  height: 100%;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #363636;
  border-radius: 0px;
  background-color: #000000;
  position: absolute;
}

.overlay-right {
  left: 50%;
  border-radius: 0px 5px 5px 0px;
}

.overlay-left {
  left: 0%;
  border-radius: 5px 0px 0px 5px;
}

@media only screen and (max-width: 600px) {
  .overlay-container {
    display: none;
  }
  .login-page-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: none;
    background-color: #ffffff;
  }
  .login-form-container {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.form-input-field {
  background-color: #ffffff;
  width: 80%;
  height: 30px;
  margin: auto;
  margin-top: 25px;
  padding: 5px 15px 5px 15px;
  border-radius: 2px;
  border-style: none;
  border-width: 1px;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form-input-field::-webkit-input-placeholder {
  color: #7c808b;
  font-size: 12px;
}

.form-input-field:-ms-input-placeholder {
  color: #7c808b;
  font-size: 12px;
}

.form-input-field::-ms-input-placeholder {
  color: #7c808b;
  font-size: 12px;
}

.form-input-field::placeholder {
  color: #7c808b;
  font-size: 12px;
}

@media only screen and (max-width: 800px) {
  .form-input-field {
    width: 80%;
    height: 25px;
    margin-top: 10px;
  }
}

.form-input-field:hover {
  background-color: #ffffff;
}

.form-input-field:focus {
  outline: none;
  background-color: #d1d1d1;
}

.submit-button {
  width: calc(80% + 30px);
  height: 40px;
  border-radius: 2px;
  border-style: none;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  background: linear-gradient(60deg, #69168f, #dd07c0, #e94057, #f52626, #f59b26);
  background-size: 260px 280px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.submit-button:hover {
  background-position-y: -180px;
}

@media only screen and (max-width: 800px) {
  .submit-button {
    width: calc(80% + 30px);
    height: 35px;
  }
}

.submit-button:hover {
  cursor: pointer;
}

.sign-in-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 30px 0px 30px;
  width: 280px;
  height: 450px;
  position: absolute;
  left: 81%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

.sign-in-form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-in-form-container h2 {
  color: #fcfcfc;
  font-size: 32px;
}

.sign-in-form-container h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  color: #838996;
}

@media only screen and (max-width: 600px) {
  .sign-in-form-container {
    width: 100%;
    position: absolute;
    left: 0%;
    border-radius: 5px;
  }
}

.login-options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 88%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.login-options-container p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #6e7480;
}

.login-options-container p:hover {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .login-options-container {
    width: 84%;
  }
}

.social-sign-in-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: calc(60% + 30px);
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.social-buttons {
  min-width: 75px;
  height: 35px;
  border-style: none;
  background-color: #fafaff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
}

.social-buttons:hover {
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
}

.social-icon {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
}

.social-buttons:hover {
  cursor: pointer;
}

.google {
  background-color: #db3c2d;
}

.facebook {
  background-color: #1877f2;
}

.apple {
  background-color: white;
}

.sign-up-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafaff;
  border-radius: 5px 0px 0px 5px;
  width: 50%;
  height: 100%;
}

.sign-up-form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-up-form-container h2 {
  margin-bottom: 25px;
}

.sign-up-form-container h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  color: #838996;
}

@media only screen and (max-width: 1000px) {
  .sign-up-form-container h2 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .sign-up-form-container h2 {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .sign-up-form-container {
    display: none;
    width: 100%;
    position: absolute;
    left: 0%;
    border-radius: 5px;
    background-color: rgba(245, 222, 179, 0);
  }
}

body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/*# sourceMappingURL=main.css.map */