.messenger-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.side-panel-container {
  max-width: 350px;
  min-width: 350px;
  background-color: tan;
}

@media only screen and (max-width: 1000px) {
  .side-panel-container {
    max-width: 300px;
    min-width: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .side-panel-container {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    max-width: 100vw;
    visibility: hidden;
  }
}
