.container {
  display: flex;
  flex-direction: column;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 30vh;
  min-height: 30vh;
  background-color: teal;
}
